/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-white: #ffffff;
  --c-black: #181818;
}

/* semantic color variables for this project */
:root {
  --font-size-base: 15px;
  --color-background: var(--c-black);
  --color-text: var(--c-white);

  --color-icon: var(--c-white);
  --size-icon-s1: 24px;
  --size-icon-s2: 18px;
  --size-icon-s3: 15px;
  --size-icon-s4: 12px;

  --element-border-radius: 6px;
  --element-padding: 8px 15px;
  --element-font-size: 13px;

  --element-input-border-color: #e9e9e9;

  --element-table-border-color: #e9e9e9;

  --element-button-background: #409eff;
  --element-button-background-hover: #3f97f0;
  --element-button-border-color: transparent;
  --element-button-color: var(--c-white);

  --element-tag--bg-color: #ecf5ff;
  --element-tag--border-color: #d9ecff;
  --element-tag--text-color: #409eff;
  --element-tag-border-radius: 4px;

  --settings-border-color: #e9e9e9;
  --settings-text-color: #7d7d7d;
  --settings-text-color-hover: var(--c-black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}
